In [42]:
import pandas as pd
import numpy as np

In [70]:
# read in the IJH_2010.parquet.textClipping file
df = pd.read_parquet('IJH_2010.parquet')
df.head()

                      prcld   eps  prcod     cshtrd      cusip  gsector  \
date       id
2010-06-30 064356_01  12.60 -2.10  13.01  4182555.0  171779309     45.0
           063080_01  40.49  1.44  41.21   379908.0  03662Q105     45.0
           118267_01  13.83  0.12  14.09   276324.0  500643200     20.0
           010540_01  34.60  2.11  35.33   436688.0  884315102     20.0
           024409_01  64.50  2.15  64.51  2398964.0  871130100     45.0

                      prccd        cik   tic  prchd       cshoc
date       id
2010-06-30 064356_01  12.68   936395.0  CIEN  13.18  93094000.0
           063080_01  40.57  1013462.0  ANSS  41.57  90509000.0
           118267_01  13.90    56679.0   KFY  14.30  45449000.0
           010540_01  34.70    97854.0   TNB  35.69  52795000.0
           024409_01  64.66   768262.0  SY.3  64.73  86861000.0

In [71]:
# Making a new dataframe where the column are the ticker names and the rows are the close prices for each day.
unstacked_close = df['prccd'].unstack()

id,064356_01,063080_01,118267_01,010540_01,024409_01,178608_01,163629_01,065108_01,122921_01,005252_01,...,160913_01,187690_01,003138_01,187740_01,175269_01,162449_01,065556_01,135484_04,035447_01,014561_01
date,,,,,,,,,,,,,,,,,,,,,
2010-06-30,12.68,40.57,13.90,34.70,64.66,11.75,20.62,65.64,18.04,9.396667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-01,12.74,40.10,13.57,34.07,64.72,11.69,20.51,65.09,17.86,9.243333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-02,12.49,40.32,13.30,33.86,64.70,11.30,20.81,63.36,17.82,9.503333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-06,12.41,40.81,13.41,34.31,64.69,11.37,20.59,62.21,17.89,9.586667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-07,13.05,41.55,14.04,35.48,64.80,12.28,21.15,66.62,18.34,9.883333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# Convert the date to a column
#unstacked_close = unstacked_close.reset_index()
unstacked_close.head()

id,date,064356_01,063080_01,118267_01,010540_01,024409_01,178608_01,163629_01,065108_01,122921_01,...,160913_01,187690_01,003138_01,187740_01,175269_01,162449_01,065556_01,135484_04,035447_01,014561_01
0,2010-06-30,12.68,40.57,13.90,34.70,64.66,11.75,20.62,65.64,18.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-07-01,12.74,40.10,13.57,34.07,64.72,11.69,20.51,65.09,17.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-07-02,12.49,40.32,13.30,33.86,64.70,11.30,20.81,63.36,17.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-07-06,12.41,40.81,13.41,34.31,64.69,11.37,20.59,62.21,17.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-07-07,13.05,41.55,14.04,35.48,64.80,12.28,21.15,66.62,18.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Convert the date to an int
unstacked_close = unstacked_close.astype({'date': 'int'})
unstacked_close.head()

id,date,064356_01,063080_01,118267_01,010540_01,024409_01,178608_01,163629_01,065108_01,122921_01,...,160913_01,187690_01,003138_01,187740_01,175269_01,162449_01,065556_01,135484_04,035447_01,014561_01
0,1277856000000000000,12.68,40.57,13.90,34.70,64.66,11.75,20.62,65.64,18.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1277942400000000000,12.74,40.10,13.57,34.07,64.72,11.69,20.51,65.09,17.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1278028800000000000,12.49,40.32,13.30,33.86,64.70,11.30,20.81,63.36,17.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1278374400000000000,12.41,40.81,13.41,34.31,64.69,11.37,20.59,62.21,17.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1278460800000000000,13.05,41.55,14.04,35.48,64.80,12.28,21.15,66.62,18.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
unstacked_close.set_index('date', inplace=True)  # set the index to the date
unstacked_close.sort_index(inplace=True)  # sort the dataframe by date
unstacked_close.head(10)

id,064356_01,063080_01,118267_01,010540_01,024409_01,178608_01,163629_01,065108_01,122921_01,005252_01,...,160913_01,187690_01,003138_01,187740_01,175269_01,162449_01,065556_01,135484_04,035447_01,014561_01
date,,,,,,,,,,,,,,,,,,,,,
1277856000000000000,12.680,40.57,13.90,34.70,64.66,11.75,20.62,65.64,18.04,9.396667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277942400000000000,12.740,40.10,13.57,34.07,64.72,11.69,20.51,65.09,17.86,9.243333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278028800000000000,12.490,40.32,13.30,33.86,64.70,11.30,20.81,63.36,17.82,9.503333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278374400000000000,12.410,40.81,13.41,34.31,64.69,11.37,20.59,62.21,17.89,9.586667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278460800000000000,13.050,41.55,14.04,35.48,64.80,12.28,21.15,66.62,18.34,9.883333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278547200000000000,12.850,41.95,14.19,35.97,64.84,12.17,21.32,66.52,18.39,10.153333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278633600000000000,12.720,42.15,14.26,36.38,64.77,12.55,21.48,67.71,18.51,10.240000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278892800000000000,12.770,42.31,13.90,35.59,64.80,12.05,21.54,67.25,18.42,10.036667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278979200000000000,13.320,43.65,14.77,36.70,64.84,12.68,21.75,69.14,19.07,10.366667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279065600000000000,13.778,43.90,14.58,36.93,64.85,12.68,21.71,68.77,19.00,10.270000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Beginning of backtest

In [76]:
# calculate the daily returns
daily_returns = df.pct_change()  # calculate the daily returns
mkt_daily_returns = daily_returns.mean(axis=1)  # calculate the market return, which is also mean of the daily returns

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [77]:
# bring the spx data into the notebook as a dataframe
df = pd.read_table('SPX_20071123.txt')  # stores day closes for SPX components
df['Date'] = df['Date'].astype('int')  # convert the date to an integer
df.set_index('Date', inplace=True)  # set the index to the date
df.sort_index(inplace=True)  # sort the dataframe by date
df.head(10)

,A,AA,AAPL,ABC,ABI,ABK,ABT,ACAS,ACE,ACS,...,XEL,XL,XLNX,XOM,XRX,XTO,YHOO,YUM,ZION,ZMH
Date,,,,,,,,,,,,,,,,,,,,,
19991124,41.1250,20.3772,23.6563,5.9980,NaN,31.1549,22.8971,7.6786,12.8492,19.0000,...,14.8614,38.5249,43.8110,35.1539,26.7738,2.2456,57.7500,10.0716,51.6312,NaN
19991126,41.1875,20.6142,23.7656,5.9980,NaN,31.1183,22.5998,7.6320,12.8492,18.7188,...,14.9079,38.5249,43.5356,34.6541,26.7738,2.2215,56.7188,9.8871,51.6826,NaN
19991129,42.0000,20.5352,23.6406,5.9675,NaN,30.6418,23.0086,7.5855,12.2246,18.7188,...,14.8614,38.2478,46.8092,35.2650,26.2989,2.0403,56.5313,9.9640,50.7074,NaN
19991130,42.1875,20.6932,24.4688,6.0284,NaN,31.9613,22.5998,7.4925,12.1353,18.7188,...,15.0926,37.6935,43.8110,35.2372,25.7052,1.9679,53.1875,10.2100,53.0170,NaN
19991201,43.0000,21.1078,25.7656,6.0588,NaN,33.5740,22.2652,7.5390,12.2692,18.7188,...,15.0460,37.7859,43.7804,36.3201,25.3584,1.9317,57.2188,10.0101,53.6329,NaN
19991202,44.1250,22.1346,27.5469,5.9066,NaN,32.5477,22.1537,7.7019,12.4030,18.5625,...,15.0460,37.2315,46.3197,36.3201,25.4182,1.9317,61.4531,9.9179,54.0947,NaN
19991203,45.0000,22.4703,28.7500,5.7239,NaN,33.3541,22.2652,7.6786,12.6707,18.8750,...,15.1849,37.8783,43.1991,36.7089,24.8201,1.9075,63.2500,9.8410,55.4805,NaN
19991206,45.7500,22.6283,29.0938,5.8153,NaN,33.4640,21.6333,7.7717,12.3138,18.6563,...,15.2306,37.5087,44.5452,37.2643,24.9995,1.8713,70.2031,9.8410,54.0947,NaN
19991207,45.2500,23.0034,29.4531,5.7544,NaN,33.4274,21.2244,7.6320,12.1799,18.8438,...,15.1849,37.2315,43.4744,37.2643,24.4014,1.8955,87.0000,9.9025,52.2471,NaN
19991208,45.0625,22.8257,27.5156,5.7544,NaN,32.5477,20.8899,7.5157,12.0014,18.4063,...,14.9537,36.9082,43.1379,37.3476,23.3847,1.8230,79.9063,9.9640,50.8100,NaN

In [83]:
# bring in the IJH_2010.parquet file as a dataframe and reformat to match the above dataframe
df = pd.read_parquet('IJH_2010.parquet')
df = df.reset_index() # convert the date to a column
df['date'] = df['date'].astype('int')  # convert the date to an integer
df.set_index('date', inplace=True)  # set the index to the date
df.sort_index(inplace=True)  # sort the dataframe by date
# Make the columns the ticker names
tickers = df['tic'].unique()
df = df.pivot(columns=tickers, values='prccd')
df.head(10)

KeyError: 'CIEN'