# Calculating sharpe for long-only and market neutral strategies

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import xlwt

# Strategy Description:

Buy and hold a share of $IGE since the close of November 26, 2001 and sell at the close of November 14, 2007. Compare with an identical strategy but instead with SPY.

Assumptions:
- rfr: 4%

In [2]:
IGE = yf.download('IGE', start='2001-11-26', end='2007-11-14')
IGE.to_excel('IGE.xls')

[*********************100%***********************]  1 of 1 completed

/var/folders/rs/k8yvpht95zxbr8d7v79msjk00000gn/T/ipykernel_52276/4038692001.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  IGE.to_excel('IGE.xls')

In [3]:
df = pd.read_excel('IGE.xls')
df.sort_values(by='Date', inplace=True)
df.head()

        Date       Open       High        Low      Close  Adj Close  Volume
0 2001-11-26  15.168333  15.168333  15.168333  15.168333   9.939943       0
1 2001-11-27  15.168333  15.168333  15.168333  15.168333   9.939943       0
2 2001-11-28  15.168333  15.168333  15.168333  15.168333   9.939943       0
3 2001-11-29  15.168333  15.168333  15.168333  15.168333   9.939943       0
4 2001-11-30  15.220000  15.220000  15.220000  15.220000   9.973801     600

In [4]:
# Calculate the daily returns
dailyreturns = df['Adj Close'].pct_change()
dailyreturns.describe()

count    1502.000000
mean        0.000828
std         0.013496
min        -0.056662
25%        -0.006935
50%         0.001119
75%         0.009210
max         0.066496
Name: Adj Close, dtype: float64

In [5]:
# Calculate the excess returns using the rfr as a benchmark
excessreturns = dailyreturns - 0.04/252  # <-- ExR = DailyR - Financing Cost
excessreturns.head(10)

0         NaN
1   -0.000159
2   -0.000159
3   -0.000159
4    0.003247
5   -0.000159
6    0.014296
7   -0.000159
8    0.015817
9   -0.021196
Name: Adj Close, dtype: float64

In [6]:
sharpe = np.sqrt(252) * np.mean(excessreturns) / np.std(excessreturns)
print(f'Sharpe Ratio: {sharpe:.4f}')

Sharpe Ratio: 0.7872

In [7]:
SPY = yf.download('SPY', start='2001-11-26', end='2007-11-14')
SPY.to_excel('SPY.xls')

[*********************100%***********************]  1 of 1 completed

/var/folders/rs/k8yvpht95zxbr8d7v79msjk00000gn/T/ipykernel_52276/195149342.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  SPY.to_excel('SPY.xls')

In [14]:
df2 = pd.read_excel('SPY.xls')
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2001-11-26,115.750000,116.339996,115.070000,115.930000,77.486076,13726000
1,2001-11-27,115.620003,116.900002,114.089996,115.430000,77.151886,19261400
2,2001-11-28,114.739998,115.169998,113.250000,113.339996,75.754929,20195500
3,2001-11-29,113.660004,114.919998,113.000000,114.870003,76.777603,16354700
4,2001-11-30,114.400002,114.910004,114.019997,114.050003,76.229500,13680300

In [15]:
df = pd.merge(df, df2, on='Date', suffixes=('_IGE', '_SPY'))
df.head()

,Date,Open_IGE,High_IGE,Low_IGE,Close_IGE,Adj Close_IGE,Volume_IGE,Open_SPY,High_SPY,Low_SPY,Close_SPY,Adj Close_SPY,Volume_SPY,Open,High,Low,Close,Adj Close,Volume
0,2001-11-26,15.168333,15.168333,15.168333,15.168333,9.939943,0,115.750000,116.339996,115.070000,115.930000,77.486076,13726000,115.750000,116.339996,115.070000,115.930000,77.486076,13726000
1,2001-11-27,15.168333,15.168333,15.168333,15.168333,9.939943,0,115.620003,116.900002,114.089996,115.430000,77.151886,19261400,115.620003,116.900002,114.089996,115.430000,77.151886,19261400
2,2001-11-28,15.168333,15.168333,15.168333,15.168333,9.939943,0,114.739998,115.169998,113.250000,113.339996,75.754929,20195500,114.739998,115.169998,113.250000,113.339996,75.754929,20195500
3,2001-11-29,15.168333,15.168333,15.168333,15.168333,9.939943,0,113.660004,114.919998,113.000000,114.870003,76.777603,16354700,113.660004,114.919998,113.000000,114.870003,76.777603,16354700
4,2001-11-30,15.220000,15.220000,15.220000,15.220000,9.973801,600,114.400002,114.910004,114.019997,114.050003,76.229500,13680300,114.400002,114.910004,114.019997,114.050003,76.229500,13680300

In [16]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)
dailyret = df[['Adj Close_IGE', 'Adj Close_SPY']].pct_change()
dailyret.head()

            Adj Close_IGE  Adj Close_SPY
Date
2001-11-26            NaN            NaN
2001-11-27       0.000000      -0.004313
2001-11-28       0.000000      -0.018107
2001-11-29       0.000000       0.013500
2001-11-30       0.003406      -0.007139

In [17]:
dailyret.rename(columns={'Adj Close_IGE': 'IGE', 'Adj Close_SPY': 'SPY'}, inplace=True)
netRet = (dailyret['IGE'] - dailyret['SPY']) / 2
sharpe = np.sqrt(252) * np.mean(netRet) / np.std(netRet)
print(f'Sharpe Ratio: {sharpe:.4f}')

Sharpe Ratio: 0.7695

In [18]:
# Store netRet to be used in another notebook...
%store netRet

Stored 'netRet' (Series)